<div class="outer">
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="panel border bg-white">
                  <div class="panel-heading">
                      <h3 class="pt-3 font-weight-bold">Reset Password</h3>
                  </div>
                  <div class="panel-body p-3">
                      <!-- step 5: add formgroup in the form tag and in the inputs add formControlName with the same name  -->
                      <form [formGroup]="resetForm">
                          <div class="form-group pt-3">
                              <div class="input-field">
                                  <span class="fa fa-lock p-2"></span>
                                  <input formControlName="newPassword" [type]="type" placeholder="New Password">
                                  <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                              </div>
                          </div>
                          <small *ngIf="resetForm.controls['newPassword'].dirty && resetForm.hasError('required', 'newPassword')" class="text-danger">*New password is required</small>
                          <div class="form-group pt-3">
                              <div class="input-field">
                                  <span class="fa fa-lock p-2"></span>
                                  <input formControlName="confirmNewPassword" [type]="type" placeholder="ConfirmNewPassword">
                                  <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                              </div>
                          </div>
                          <small *ngIf="resetForm.controls['confirmNewPassword'].dirty && resetForm.hasError('required', 'confirmNewPassword')" class="text-danger">*Confirm new password is required</small>
                          <small *ngIf="resetForm.hasError('confirmPasswordValidator', 'confirmNewPassword')" 
                          class="text-danger">*Password doesn't match</small>
                          <button (click)="reset()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Reset password</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>